In [10]:
''' Q1. Write a python program to display all the header tags from
‘en.wikipedia.org/wiki/Main_Page’.
'''

' 1. Write a python program to display all the header tags from\n‘en.wikipedia.org/wiki/Main_Page’.\n'

In [16]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
soup=BeautifulSoup(page.content)
headertags=soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
headertags

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

In [3]:
'''Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,
IMDB rating, Year of release) and save it in form of a CSV file. '''

'2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,\nIMDB rating, Year of release) and save it in form of a CSV file. '

In [18]:

from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
soup=BeautifulSoup(page.content)

#Finding all bomovieok names
MovieName=soup.find_all('td',class_="titleColumn")
movie_names=[]
for i in MovieName:
    movie_names.append(i.text.replace('\n',''))


#Finding all mpvie release year
ReleaseYear=soup.find_all('span',class_="secondaryInfo")
Release_Years=[]
for i in ReleaseYear:
    Release_Years.append(i.text.replace('\n','').replace('(','').replace(')',''))
    
    
#Finding all movie ratings
rating=soup.find_all('td',class_="ratingColumn imdbRating")
Ratings=[]
for i in rating:
    Ratings.append(i.text.replace('\n',''))
    
    
    
#Putting all data in table
import pandas as pd
movies=pd.DataFrame({})
for i in range(0,5):
    movies['MovieName']=movie_names
    movies['ReleaseYear']=Release_Years
    movies['Ratings']=Ratings


movies.to_csv('IMDBTop100Movies.csv')
movies.head(100)

                                       MovieName ReleaseYear Ratings
0         1.      The Shawshank Redemption(1994)        1994     9.2
1                    2.      The Godfather(1972)        1972     9.1
2           3.      The Godfather: Part II(1974)        1974     9.0
3                  4.      The Dark Knight(2008)        2008     9.0
4                     5.      12 Angry Men(1957)        1957     8.9
..                                           ...         ...     ...
95                   96.      Citizen Kane(1941)        1941     8.3
96                         97.      Dangal(2016)        2016     8.3
97                   98.      Idi i smotri(1985)        1985     8.2
98                        99.      The Kid(1921)        1921     8.2
99           100.      Singin' in the Rain(1952)        1952     8.2

[100 rows x 3 columns]

In [5]:
'''Q3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.'''

'Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.'

In [19]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=7YVJAT975NWQNRN6FHS1&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1")
soup=BeautifulSoup(page.content)

#Finding all bomovieok names
MovieName=soup.find_all('td',class_="titleColumn")
movie_names=[]
for i in MovieName:
    movie_names.append(i.text.replace('\n',''))


#Finding all mpvie release year
ReleaseYear=soup.find_all('span',class_="secondaryInfo")
Release_Years=[]
for i in ReleaseYear:
    Release_Years.append(i.text.replace('\n','').replace('(','').replace(')',''))
    
    
#Finding all movie ratings
rating=soup.find_all('td',class_="ratingColumn imdbRating")
Ratings=[]
for i in rating:
    Ratings.append(i.text.replace('\n',''))
    
    
    
#Putting all data in table
import pandas as pd
movies=pd.DataFrame({})
for i in range(0,5):
    movies['MovieName']=movie_names
    movies['ReleaseYear']=Release_Years
    movies['Ratings']=Ratings


movies.to_csv('IMDBTop100IndianMovies.csv')
movies.head(100)

                                          MovieName ReleaseYear Ratings
0                     1.      Pather Panchali(1955)        1955     8.5
1                            2.      Gol Maal(1979)        1979     8.5
2                             3.      Nayakan(1987)        1987     8.5
3                          4.      Anbe Sivam(2003)        2003     8.5
4                         5.      Apur Sansar(1959)        1959     8.5
..                                              ...         ...     ...
95        96.      The Legend of Bhagat Singh(2002)        2002     8.0
96                            97.      Barfi!(2012)        2012     8.0
97                              98.      Pink(2016)        2016     8.0
98                        99.      Bommarillu(2006)        2006     8.0
99                           100.      Bombay(1995)        1995     8.0

[100 rows x 3 columns]

In [9]:
'''Q4.Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’'''

'Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’'

In [12]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://bookpage.com/reviews")
soup=BeautifulSoup(page.content)

#Finding all book names
BookName=soup.find_all('h4',class_="italic")
book_names=[]
for i in BookName:
    book_names.append(i.text.replace('\n',''))


#Finding all book authors
AuthorName=soup.find_all('p',class_="sans bold")
author_names=[]
for i in AuthorName:
    author_names.append(i.text.replace('\n',''))
    
    
#Finding all book genres
genre=soup.find_all('p',class_="genre-links hidden-phone")
genres=[]
for i in genre:
    genres.append(i.text.replace('\n',''))
    
    
#Finding all book reviews
BookReview=soup.find_all('p',class_="excerpt")
Reviews=[]
for i in BookReview:
    Reviews.append(i.text.replace('\n',''))
    
    
#Putting all data in table
import pandas as pd
books=pd.DataFrame({})
for i in range(0,5):
    books['BookName']=book_names
    books['Author']=author_names
    books['Genre']=genres
    books['Review']=Reviews
books.head()

,BookName,Author,Genre,Review
0,The Last Thing He Told Me,Laura Dave,Fiction / Family Drama,Laura Dave has given us what we crave right no...
1,The Secret History of Home Economics,Danielle Dreilinger,Nonfiction / History / Women's History,Whatever stereotypes we associate with home ec...
2,Little and Often,Trent Preszler,Nonfiction / Memoir / Family & Relationships,"This lucid, lyrical memoir recalls father-son ..."
3,The Wreckage of My Presence,Casey Wilson,Nonfiction / Essays / Humor,"The Wreckage of My Presence is funny and bold,..."
4,★ Secrets of Happiness,Joan Silber,Fiction / Family Drama,Rarely is a novel of moral ideas so buoyant in...

In [20]:
'''Q5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.'''

'Q5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:\ni) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.'

In [11]:

from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(page.content, 'html.parser')

#extract all teams
teams=soup.find_all('span',class_='u-hide-phablet')
Team1=[]
Team2=[]
for i in teams:
    Team1.append(i.text.replace('\n',''))
Team2.append(Team1[0:10])


#extract all matches
Match1=[]
topteammatch=soup.find('td',class_="rankings-block__banner--matches")
Match1.append(topteammatch.text)
Match2=[]
matches=soup.find_all('td',class_='table-body__cell u-center-text')

for i in matches:
    Match2.append(i.text.replace('\n',''))
Match1.append(Match2[0:18:2])

#extract all points
Points1=[]
topteampoints=soup.find('td',class_="rankings-block__banner--points")
Points1.append(topteampoints.text)
Points2=[]
points=soup.find_all('td',class_='table-body__cell u-center-text')

for i in points:
    Points2.append(i.text.replace('\n',''))
Points1.append(Points2[1:19:2])


#extract all ratings
Ratings1=[]
topteamrating=soup.find('td',class_="rankings-block__banner--rating u-text-right")
Ratings1.append(topteamrating.text.replace('\n',''))
ratings=soup.find_all('td',class_='table-body__cell u-text-right rating')
Rating=[]
for i in ratings:
    Rating.append(i.text.replace('\n',''))
Ratings1.append(Rating[0:9])



print('------------Top 10 Teams---------------')
print('Teams',Team2)
print('\n')
print('---------------------------------------')
print('Matches',Match1)
print('\n')
print('---------------------------------------')
print('Points',Points1)
print('\n')
print('---------------------------------------')
print('Ratings',Ratings1)

------------Top 10 Teams---------------
Teams [['New Zealand', 'Australia', 'India', 'England', 'South Africa', 'Pakistan', 'Bangladesh', 'West Indies', 'Sri Lanka', 'Afghanistan']]


---------------------------------------
Matches ['17', ['25', '29', '27', '20', '24', '24', '27', '21', '17']]


---------------------------------------
Points ['2,054', ['2,945', '3,344', '3,100', '2,137', '2,323', '2,157', '2,222', '1,652', '1,054']]


---------------------------------------
Ratings ['                            121                            ', ['118', '115', '115', '107', '97', '90', '82', '79', '62']]

In [20]:
'''ii) Top 10 ODI Batsmen in men along with the records of their team and rating.'''

'ii) Top 10 ODI Batsmen in men along with the records of their team and rating.'

In [13]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup=BeautifulSoup(page.content, 'html.parser')

#extract all batsmen
Player1=[]
Playername1=soup.find('div',class_="rankings-block__banner--name")
Player1.append(Playername1.text)
Player2=[]
players=soup.find_all('td',class_='table-body__cell name')

for i in players:
    Player2.append(i.text.replace('\n',''))
    
Player1.append(Player2[0:9])

#extract all batsmen nationality
Nation1=[]
nationname1=soup.find('div',class_="rankings-block__banner--nationality")
Nation1.append(nationname1.text.replace('\n',''))
Nation2=[]
nationname2=soup.find_all('span',class_='table-body__logo-text')

for i in nationname2:
    Nation2.append(i.text.replace('\n',''))
    
Nation1.append(Nation2[0:9])

#extract all batsmen ratings
Rating1=[]
ratings1=soup.find('div',class_="rankings-block__banner--rating")
Rating1.append(ratings1.text)
Rating2=[]
ratings2=soup.find_all('td',class_='table-body__cell u-text-right rating')

for i in ratings2:
    Rating2.append(i.text.replace('\n',''))
    
Rating1.append(Rating2[0:9])


#Printing data
print('------------Top 10 Batsmen---------------')
print('Players Name',Player1)
print('\n')
print('---------------------------------------')
print('Nationality',Nation1)
print('\n')
print('---------------------------------------')
print('Ratings',Rating1)

------------Top 10 Batsmen---------------
Players Name ['Babar Azam', ['Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow', 'Fakhar Zaman', 'Francois du Plessis', 'David Warner', 'Shai Hope']]


---------------------------------------
Nationality ['PAK865', ['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']]


---------------------------------------
Ratings ['865', ['857', '825', '801', '791', '785', '778', '778', '773', '773']]

In [9]:
'''Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.'''

'Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:\ni) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.'

In [10]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup=BeautifulSoup(page.content, 'html.parser')

#extract all teams
teams=soup.find_all('span',class_='u-hide-phablet')
Team1=[]
Team2=[]
for i in teams:
    Team1.append(i.text.replace('\n',''))
Team2.append(Team1[0:10])


#extract all matches
Match1=[]
topteammatch=soup.find('td',class_="rankings-block__banner--matches")
Match1.append(topteammatch.text)
Match2=[]
matches=soup.find_all('td',class_='table-body__cell u-center-text')

for i in matches:
    Match2.append(i.text.replace('\n',''))
Match1.append(Match2[0:18:2])

#extract all points
Points1=[]
topteampoints=soup.find('td',class_="rankings-block__banner--points")
Points1.append(topteampoints.text)
Points2=[]
points=soup.find_all('td',class_='table-body__cell u-center-text')

for i in points:
    Points2.append(i.text.replace('\n',''))
Points1.append(Points2[1:19:2])


#extract all ratings
Ratings1=[]
topteamrating=soup.find('td',class_="rankings-block__banner--rating u-text-right")
Ratings1.append(topteamrating.text.replace('\n',''))
ratings=soup.find_all('td',class_='table-body__cell u-text-right rating')
Rating=[]
for i in ratings:
    Rating.append(i.text.replace('\n',''))
Ratings1.append(Rating[0:9])



print('------------Top 10 Teams---------------')
print('Teams',Team2)
print('\n')
print('---------------------------------------')
print('Matches',Match1)
print('\n')
print('---------------------------------------')
print('Points',Points1)
print('\n')
print('---------------------------------------')
print('Ratings',Ratings1)

------------Top 10 Teams---------------
Teams [['Australia', 'South Africa', 'England', 'India', 'New Zealand', 'West Indies', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Ireland']]


---------------------------------------
Matches ['18', ['24', '17', '20', '21', '12', '15', '5', '11', '2']]


---------------------------------------
Points ['2,955', ['2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']]


---------------------------------------
Ratings ['                            164                            ', ['118', '117', '111', '93', '85', '73', '61', '47', '13']]

In [15]:
'''ii) Top 10 women’s ODI players along with the records of their team and rating.'''

'ii) Top 10 women’s ODI players along with the records of their team and rating.'

In [14]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup=BeautifulSoup(page.content, 'html.parser')

#extract all batsmen
Player1=[]
Playername1=soup.find('div',class_="rankings-block__banner--name")
Player1.append(Playername1.text)
Player2=[]
players=soup.find_all('td',class_='table-body__cell name')

for i in players:
    Player2.append(i.text.replace('\n',''))
    
Player1.append(Player2[0:9])

#extract all batsmen nationality
Nation1=[]
nationname1=soup.find('div',class_="rankings-block__banner--nationality")
Nation1.append(nationname1.text.replace('\n',''))
Nation2=[]
nationname2=soup.find_all('span',class_='table-body__logo-text')

for i in nationname2:
    Nation2.append(i.text.replace('\n',''))
    
Nation1.append(Nation2[0:9])

#extract all batsmen ratings
Rating1=[]
ratings1=soup.find('div',class_="rankings-block__banner--rating")
Rating1.append(ratings1.text)
Rating2=[]
ratings2=soup.find_all('td',class_='table-body__cell u-text-right rating')

for i in ratings2:
    Rating2.append(i.text.replace('\n',''))
    
Rating1.append(Rating2[0:9])


#Printing data
print('------------Top 10 Batsmen---------------')
print('Players Name',Player1)
print('\n')
print('---------------------------------------')
print('Nationality',Nation1)
print('\n')
print('---------------------------------------')
print('Ratings',Rating1)

------------Top 10 Batsmen---------------
Players Name ['Tammy Beaumont', ['Lizelle Lee', 'Alyssa Healy', 'Stafanie Taylor', 'Meg Lanning', 'Amy Satterthwaite', 'Smriti Mandhana', 'Mithali Raj', 'Natalie Sciver', 'Laura Wolvaardt']]


---------------------------------------
Nationality ['ENG765', ['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']]


---------------------------------------
Ratings ['765', ['758', '756', '746', '723', '715', '710', '709', '685', '683']]

In [21]:
'''Q7.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.'''

'Q7.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.'

In [22]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.amazon.in/s?k=mobile+phones+under+20000+rupees&crid=3GOT1MYB6JZ4H&sprefix=mobile+phones+under+20%2Caps%2C292&ref=nb_sb_ss_ts-doa-p_2_22")
soup=BeautifulSoup(page.content)

Product=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
product_names=[]
for i in Product:
    product_names.append(i.text.replace('\n',''))
    

Price=soup.find_all('span',class_="a-price-whole")
product_prices=[]
for i in Price:
    product_prices.append(i.text.replace('\n',''))

    
Image_URL=[]
for item in soup.find_all('img',class_="s-image"):
    Image_URL.append(item['src'])
    
    
rating=soup.find_all('span',class_="a-icon-alt")
ratings=[]
for i in rating:
    ratings.append(i.text.replace('\n',''))

In [23]:
'''Q8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.'''

'Q8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.'

In [26]:
from bs4 import BeautifulSoup
import requests

page = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")


periods = [pr.get_text() for pr in seven_day.select(".tombstone-container .period-name")]
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(periods)
print(short_descs)
print(temps)
print(descs)

['Today', 'Tonight', 'Friday', 'FridayNight', 'Saturday', 'SaturdayNight', 'Sunday', 'SundayNight', 'Monday']
['BecomingSunny', 'Mostly Clear', 'Sunny', 'Clear', 'Sunny', 'Mostly Clear', 'Sunny', 'Clear', 'Sunny']
['High: 63 °F', 'Low: 50 °F', 'High: 66 °F', 'Low: 50 °F', 'High: 72 °F', 'Low: 53 °F', 'High: 70 °F', 'Low: 52 °F', 'High: 72 °F']
['Today: Cloudy through mid morning, then gradual clearing, with a high near 63. West wind 8 to 17 mph, with gusts as high as 22 mph. ', 'Tonight: Mostly clear, with a low around 50. West wind 11 to 16 mph, with gusts as high as 21 mph. ', 'Friday: Sunny, with a high near 66. Light and variable wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 18 mph. ', 'Friday Night: Clear, with a low around 50. West wind 5 to 14 mph, with gusts as high as 18 mph. ', 'Saturday: Sunny, with a high near 72. North northwest wind 9 to 11 mph, with gusts as high as 26 mph. ', 'Saturday Night: Mostly clear, with a low around 53.', 'Sunday: Sunny, with a high near 70.', 'Sunday Night: Clear, with a low around 52.', 'Monday: Sunny, with a high near 72.']